<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Paweł Sosnowiec"/>
    <title>Paweł Sosnowiec Rekrutacja</title>


    {% block stylesheets %}
        <link href="" rel="shortcut icon">
        <link href="{{ asset('plugins/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/theme.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/font-awesome/css/all.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

    {% endblock %}

</head>
<body data-preloader="1">
{% block body %}{% endblock %}
</body>

{% block javascripts %}
    <script src="{{ asset('plugins/jquery.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ asset('plugins/plugins.js') }}"></script>
    <script src="{{ asset('js/functions.js') }}"></script>
{% endblock %}

</html>
